.box2
{  width: 800px;
   text-align: center;
    font-size: 20px;}
 
.box1{
    width: 300px;
    margin: 10px;
    height: 100px;
    text-align: center;
    font-size: 20px;
    }

body {
    font-family: sans-serif;
    background: ;
    font-size: 12px;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    overflow: auto;
}




.catface {
    background: transparent url("https://pp.vk.me/c626826/v626826079/9713/JExJ_5kiVmA.jpg") no-repeat center;
    background-size: cover;
    height: 500px;
}
.foto {
    background: transparent url("https://pp.vk.me/c626826/v626826079/9713/JExJ_5kiVmA.jpg") no-repeat center;
    background-size: cover;
    height: 550px;}
.content {
    padding: 20px;
    margin-left: 300px;
}

.content img {
    max-width: 400px;
}