* {
    margin: 0px;
    padding: 0px;

}
.text
{
    text-align: center;
    margin: 50px;
    font-size: 18px;
}



h2 {
	position	: absolute;
	top		: 130px;
	left		: 90px;
	width		: 100%;
    color: white;
    font-size: 50px;
    
}
.menu{
    position: absolute;
}

.logo{text-align: center;
    margin: 10px;
   
    
}
h3 {
	position	: absolute;
	top		: 210px;
	left		: 90px;
	width		: 100%;
    color: white;
    font-size: 20px;
}
.project{
    margin: 10px;
    padding: 0px;
    text-align: center; 
}
